@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

@plugin "daisyui/theme" {
  --color-primary: #03045e;
  --color-primary-focus: #03045e;
  --color-secondary: #023e8a;
  --color-secondary-focus: #023e8a;
}
@theme {
  --breakpoint-md: 800px;
}

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}


@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html {
  overflow-x: hidden;
}
body {
  overflow: hidden;
  font-family: "Merriweather", serif;
}
