@import "tailwindcss";
@plugin "daisyui";
@import "slick-carousel/slick/slick.css"; 
@import "slick-carousel/slick/slick-theme.css";


@plugin "daisyui/theme"{
  --color-primary: #03045E;
  --color-primary-focus: #03045E;
  --color-secondary: #023E8A;
  --color-secondary-focus: #023E8A;
}
@theme{
  --breakpoint-md: 800px;
}